{% load static %}
<!DOCTYPE html>
<html lang="en">

    {% include 'layout/partials/header.html' %}

    <body class="loading authentication-bg authentication-bg-pattern">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="card bg-pattern">

                            <div class="card-body p-4">

                                <div class="text-center w-100 m-auto">
                                    <div class="auth-logo">
                                        <a href="{% url 'home' %}" class="logo logo-dark text-center">
                                            <span class="logo-lg">
                                                <img src="{% static 'assets/images/splash_screen_2_dark.png' %}" alt="" height="75">
                                            </span>
                                        </a>

                                        <a href="{% url 'home' %}" class="logo logo-light text-center">
                                            <span class="logo-lg">
                                                <img src="{% static 'assets/images/splash_screen_2_dark.png' %}" alt="" height="75">
                                            </span>
                                        </a>
                                    </div>
                                    <p class="text-muted mb-4 mt-3"></p>

                                </div>

                                <form method="post">
                                {% csrf_token %}
                                     <div class="mb-3">
                                        <label for="id_username" class="form-label">Username</label>
                                        <input class="form-control" type="text" name="username" autofocus="" autocapitalize="none"
                                               autocomplete="username" maxlength="150" required="" placeholder="Enter your username" id="id_username">
                                    </div>

                                    <div class="mb-3">
                                        <label for="id_password" class="form-label">Password</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" name="password" autocomplete="current-password" placeholder="Enter your password" class="form-control" required="" id="id_password">
                                            <div class="input-group-text" data-password="false">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>

                                <div class="text-center d-grid">
                                    <button class="btn btn-primary" type="submit"> Log In </button>
                                </div>
                                </form>
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->
        {% include 'layout/partials/javascripts.html' %}

    </body>
</html>