{% extends 'layout/base.html' %}
{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Modules of {{ field.name }} field</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-md bg-success rounded">
                                <i class="dripicons-home avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1">{{ field.name }}</h3>
                                <p class="text-muted mb-0 text-truncate">{{ field.farm.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col -->

        <div class="col-lg-6 col-xl-3">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-md bg-blue rounded">
                                <i class="fe-layers avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span data-plugin="counterup">{{ modules.count }}</span></h3>
                                <p class="text-muted mb-0 text-truncate">Modules</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col -->
        <div class="col-lg-6 col-xl-3">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-md bg-danger rounded">
                                <i class="dripicons-weight avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span data-plugin="counterup">{{ weight_avg }}</span></h3>
                                <p class="text-muted mb-0 text-truncate">Weight average</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col -->
        <div class="col-lg-6 col-xl-3">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-md bg-warning rounded">
                                <i class="fe-droplet avatar-title font-22 text-white"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <h3 class="text-dark my-1"><span data-plugin="counterup">{{ moisture_avg }}</span></h3>
                                <p class="text-muted mb-0 text-truncate">Moisture average</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-start">
                                <div class="w-100">
                                    <h4 class="mt-0 font-14"><b>Field name:</b> {{ field.name }}</h4>
                                    <h4 class="mt-0 font-14"><b>Farm name:</b> {{ field.farm.name }}</h4>
                                    <h4 class="mt-0 font-14"><b>UID:</b> {{ field.john_deere_id }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-start">
                                <div class="w-100">
                                    <h4 class="mt-0 font-14"><b>Modules count:</b> {{ modules.count }}</h4>
                                    <h4 class="mt-0 font-14"><b>Total weight:</b> {{ total_weight }}</h4>
                                    <h4 class="mt-0 font-14"><b>Moisture average:</b> {{ moisture_avg }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div> <!-- end row -->
                </div>
            </div> <!-- end card-->

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered table-centered mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Module serial number</th>
                                <th>Module Id</th>
                                <th>Weight</th>
                                <th>Diameter</th>
                                <th>Moisture</th>
                                <th>Variety name</th>
                                <th>Data ingestion date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for m in data %}
                                <tr>
                                    <th scope="row">{{ m.serial_number }}</th>
                                    <td>{{ m.uid }}</td>
                                    <td>{{ m.weight }}</td>
                                    <td>{{ m.diameter }}</td>
                                    <td>{{ m.moisture }}</td>
                                    <td>{{ m.variety_name }}</td>
                                    <td>{{ m.data_ingestion_date }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>


                     {% include 'layout/pagination.html' with data=data %}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
{% endblock %}