{% extends 'layout/base.html' %}
{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Fields</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                <div class="row mb-2">
                        <div class="col-sm-12">
                            <div class="text-sm-end mt-2 mt-sm-0">
                                <a href="{% url 'sync-fields' %}" class="btn btn-warning waves-effect waves-light"
                                    onclick="return confirm('Are you sure?')">
                                    <i class="mdi mdi-plus-circle me-1"></i> Sync from John Deere API
                                </a>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered table-hover dt-responsive nowrap w-100">
                            <thead class="table-light">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Farm</th>
                                <th>Modules count</th>
                                <th>John Deere ID</th>
                                <th>Last modified time</th>
                                <th>Create Date</th>
                                <th style="width: 85px;">Action</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable( {
            "processing": true,
            "search": { "return": true },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'field_datatable' %}"
            },
            "columns": [
                { "data": "id" },
                { "data": "name" },
                { "data": "farm" },
                { "data": "modules_count" },
                { "data": "john_deere_id" },
                { "data": "last_modified_time"},
                { "data": "created_at" },
                { "data": function ( data, type, row, meta ) {
                    return '<a href="fields/'+ data.john_deere_id + '/modules" class="action-icon"><i class="mdi mdi-view-module"></i></a>'
                    }
                }
            ],
            fnServerParams: function(data) {
                data['order'].forEach(function(items, index) {
                data['order'][index]['column_name'] = data['columns'][items.column]['data'];
                });
            },
        });
    });
    </script>
{% endblock %}