{% extends 'layout/base.html' %}
{% block content %}
    <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Dashboard</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
    <div class="row">

    </div>
    <!-- end row-->
{% endblock %}