{% extends 'layout/base.html' %}
{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Modules</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <div class="text-sm-end mt-2 mt-sm-0">
                                <a href="{% url 'sync-modules' %}" class="btn btn-warning waves-effect waves-light"
                                    onclick="return confirm('Are you sure?')">
                                    <i class="mdi mdi-plus-circle me-1"></i> Sync from John Deere API
                                </a>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped table-bordered table-hover dt-responsive nowrap w-100">
                            <thead class="table-light">
                            <tr>
                                <th>Serial Number</th>
                                <th>Module ID</th>
                                <th>Variety name</th>
                                <th>Weight</th>
                                <th>Field</th>
                                <th>Farm</th>
                                <th>Wrap time</th>
                                <th>Create Date</th>
                                <th>State</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable( {
            "processing": true,
            "search": { "return": true },
            "serverSide": true,
            "ajax": {
                "url": "{% url 'module_datatable' %}"
            },
            "columns": [
                { "data": "serial_number" },
                { "data": "uid" },
                { "data": "variety_name" },
                { "data": "weight" },
                { "data": "field" },
                { "data": "farm" },
                { "data": "wrap_date_time" },
                { "data": "created_at"},
                { "data": "state", "render": function ( data, type, row, meta ) {
                    return row.state === 1 ? "New" : row.state === 2 ? "In process" : "Precessed";
                    }
                }
            ],
            fnServerParams: function(data) {
                data['order'].forEach(function(items, index) {
                data['order'][index]['column_name'] = data['columns'][items.column]['data'];
                });
            },
        });
    });
    </script>
{% endblock %}