{% extends 'layout/base.html' %}
{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Organizations</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-lg-12 order-lg-1 order-2">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-auto">
{#                            <form class="mb-2 mb-sm-0">#}
{#                                <label for="inputPassword2" class="visually-hidden">Search</label>#}
{#                                <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">#}
{#                            </form>#}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end">
                                <a href="{% url 'sync-organizations' %}" class="btn btn-warning waves-effect waves-light"
                                    onclick="return confirm('Are you sure?')">
                                    <i class="mdi mdi-plus-circle me-1"></i> Sync from John Deere API
                                </a>
                            </div>
                        </div><!-- end col-->
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->

            {% for d in data %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <div class="d-flex align-items-start">
                                <div class="w-100">
                                    <h4 class="mt-0 mb-2 font-16">{{ d.name }}</h4>
                                    <p class="mb-1"><b>Type:</b> {{ d.type }}</p>
                                    <p class="mb-1"><b>ID:</b> {{ d.john_deere_id }}</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="text-center my-3 my-sm-0">
                                <p class="mb-0 text-muted">{{ d.created_at }}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-center button-list">
                                <a href="{% url 'farms-list' %}" class="btn btn-xs btn-primary waves-effect waves-light">Farms</a>
                                <a href="{% url 'fields-list' %}" class="btn btn-xs btn-primary waves-effect waves-light">Fields</a>
                                <a href="{% url 'machines-list' %}" class="btn btn-xs btn-primary waves-effect waves-light">Machines</a>
                            </div>
                        </div>

                        <div class="col-sm-2"></div> <!-- end col-->
                    </div> <!-- end row -->
                </div>
            </div> <!-- end card-->
            {% endfor %}
        </div>
    </div>
{% endblock %}