{% load static %}

<head>
    <meta charset="utf-8"/>
    <title>Cotton tracking system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Cotton and bale tracking system" name="description"/>
    <meta content="muxtarovich" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- third party css -->
    <link href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->

    <link href="{% static 'assets/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/flatpickr/flatpickr.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/flatpickr/plugins/confirmDate/confirmDate.css'%}" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="{% static 'assets/css/config/modern/bootstrap.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-default-stylesheet"/>
    <link href="{% static 'assets/css/config/modern/app.min.css' %}" rel="stylesheet" type="text/css"
          id="app-default-stylesheet"/>

    <link href="{% static 'assets/css/config/modern/bootstrap-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="bs-dark-stylesheet"/>
    <link href="{% static 'assets/css/config/modern/app-dark.min.css' %}" rel="stylesheet" type="text/css"
          id="app-dark-stylesheet"/>
    <!-- icons -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>

</head>