{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Silverleafe traceability solution</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'landing/images/favicon.ico' %}">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}" type="text/css">

        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'landing/css/materialdesignicons.min.css' %}" />

        <!-- Custom  sCss -->
        <link rel="stylesheet" type="text/css" href="{% static 'landing/css/style.css' %}" />

         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

        <script src="https://unpkg.com/html5-qrcode"></script>

    </head>

    <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="64">

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom bg-gradient sticky-dark" id="sticky">
            <div class="container-fluid">
                <!-- LOGO -->
                <a class="logo text-uppercase" href="/">
                    <img src="{% static 'landing/images/logo-light.png' %}" alt="" class="logo-light" height="48" />
                    <img src="{% static 'landing/images/logo-light.png' %}" alt="" class="logo-dark" height="48" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
{#                        <li class="nav-item">#}
{#                            <a href="#" class="nav-link">About project</a>#}
{#                        </li>#}
{##}
{#                        <li class="nav-item">#}
{#                            <a href="#" class="nav-link">Contact</a>#}
{#                        </li>#}
                    </ul>
                    <a href="{% url 'home' %}" class="btn btn-info navbar-btn">Login</a>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!-- features start -->
        <section class="section" style="padding-top: 15px; min-height: 650px;">
            <div class="container-fluid" style="margin-top: 100px;">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-4 pb-1">
                        <h1 class="mb-4">TRACKING COTTON</h1>
                            <div class="subscribe">
                                <div class="row">
                                    <form>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="tracking" id="tracking-value" placeholder="Enter tracking number">
                                            <button class="btn btn-primary" type="submit">Search</button>
                                        </div>

                                        {% if data is None %}
                                            <div class="m-2">-- OR --</div>
                                            <div id="qr-reader"></div>
                                        {% endif %}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                {% if data is not None %}
                <div class="row align-items-top">
                    <div class="col-lg-6">
                        <div id="map" style="height: 400px; max-width: 100%; max-height: 100%;"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="mt-0">ID:</h5>
                                    <p>{{data.uid}}</p>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Country:</h5>
                                            <p>Uzbekistan</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Region:</h5>
                                            <p>{{ data.module.farm.district.region }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Farm:</h5>
                                            <p>{{ data.module.farm }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Field:</h5>
                                            <p>{{ data.module.field }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Weight:</h5>
                                            <p>{{ data.weight }} kg</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Variety:</h5>
                                            <p>{{ data.module.variety_name }}</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Machine:</h5>
                                            <p>{{ data.module.equipment }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-1">
                                            <h5 class="mt-0">Operator:</h5>
                                            <p>{{ data.module.operator }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="track-order-list">
                                    <ul class="list-unstyled">
                                        <li class="completed">
                                            <h5 class="mt-0 mb-1">Wrap time</h5>
                                            <p class="text-muted">{{ data.module.wrap_date_time }}</p>
                                        </li>
                                        <li class="completed">
                                            <h5 class="mt-0 mb-1">Ingestion date</h5>
                                            <p class="text-muted">{{ data.module.data_ingestion_date }}</p>
                                        </li>
                                        <li>
                                            <span class="active-dot dot"></span>
                                            <h5 class="mt-0 mb-1">Load to mound</h5>
                                            <p class="text-muted">{{ data.module.load_time }}</p>
                                        </li>
                                        <li>
                                            <h5 class="mt-0 mb-1">Start production</h5>
                                            <p class="text-muted">{{ data.module.start_production }}</p>
                                        </li>
                                        <li>
                                            <h5 class="mt-0 mb-1">Finish production</h5>
                                            <p class="text-muted">{{ data.module.end_production }}</p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- end row -->
                    <script type="text/javascript">
                        var map = L.map('map').setView([{{ data.module.drop_lat }}, {{ data.module.drop_long }}], 13);
                        var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                            maxZoom: 18,
                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                            id: 'mapbox/streets-v11',
                            tileSize: 512,
                            zoomOffset: -1
                        }).addTo(map);
                        var marker = L.marker([{{ data.module.drop_lat }}, {{ data.module.drop_long }}]).addTo(map).bindPopup('{{data.uid}}');

                    </script>



                {% endif %}
            </div>
            <!-- end container-fluid -->
        </section>
        <!-- features end -->

        <!-- footer start -->
        <footer class="bg-dark footer">
            <div class="container-fluid">
                <div class="row mb-5">
                    <div class="col-lg-4">
                        <div class="pe-lg-4">
                            <div class="mb-4">
                                <img src="{% static 'landing/images/logo-light.png' %}" alt="" height="64">
                            </div>
                            <p class="text-white-50">Silverleafe traceability solutions</p>
                            <p class="text-white-50 mb-4 mb-lg-0"></p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6"></div>

                    <div class="col-lg-2 col-md-6"></div>

                    <div class="col-lg-2 col-md-6"></div>

                    <div class="col-lg-2 col-md-6"></div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-start pull-none">
                            <p class="text-white-50"><script>document.write(new Date().getFullYear())</script> &copy;Design by </p>
                        </div>
                        <div class="float-end pull-none">
                            <ul class="list-inline social-links">
                                <li class="list-inline-item text-white-50">
                                    Social :
                                </li>
                                <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </footer>
        <!-- footer end -->

        <!-- Back to top -->
        <!-- <a href="#" class="back-to-top" id="back-to-top"> <i class="mdi mdi-chevron-up"> </i> </a> -->
        <!-- Back to top -->
        <a href="#" onclick="topFunction()" class="back-to-top-btn btn btn-primary" id="back-to-top-btn"><i class="mdi mdi-chevron-up"></i></a>

        <!-- javascript -->

        <script src="{% static 'landing/js/bootstrap.bundle.min.js' %}"></script>

        <!-- custom js -->
        <script src="{% static 'landing/js/app.js' %}"></script>

    <script>
                        function docReady(fn) {
                            // see if DOM is already available
                            if (document.readyState === "complete"
                                || document.readyState === "interactive") {
                                // call on next available tick
                                setTimeout(fn, 1);
                            } else {
                                document.addEventListener("DOMContentLoaded", fn);
                            }
                        }

                        docReady(function () {
                            var lastResult, countResults = 0;
                            function onScanSuccess(decodedText, decodedResult) {
                                if (decodedText !== lastResult) {
                                    ++countResults;
                                    lastResult = decodedText;
                                    // Handle on success condition with the decoded message.
                                    document.getElementById('tracking-value').value = decodedText;
                                    console.log(`Scan result ${decodedText}`, decodedResult);
                                }
                            }

                            var html5QrcodeScanner = new Html5QrcodeScanner(
                                "qr-reader", { fps: 10, qrbox: 250 });
                            html5QrcodeScanner.render(onScanSuccess);
                        });
                    </script>

    </body>

</html>