{% extends 'layout/base.html' %}
{% block content %}
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" type="text/css" />
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Bales</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
{#                        <div class="col-sm-12">#}
{#                            <div class="text-sm-end mt-2 mt-sm-0">#}
{#                                <a href="{% url 'bales-production' %}" class="btn btn-warning waves-effect waves-light">#}
{#                                    <i class="mdi mdi-plus-circle me-1"></i> Start production#}
{#                                </a>#}
{#                            </div>#}
{#                        </div><!-- end col-->#}
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Farm</th>
                                <th>Field</th>
                                <th>Module serial Number</th>
                                <th>Start timestamp</th>
                                <th>Module weight</th>
                                <th>Unique gin bale</th>
                                <th>Gin weight</th>
                                <th>Finish timestamp</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in data %}
                                <tr>
                                    <td>{{ d.farm.name }}</td>
                                    <td>{{ d.field.name }}</td>
                                    <td>{{ d.uid }}</td>
                                    <td>{{ d.start_production }}</td>
                                    <td>{{ d.weight }}</td>
                                    <td>
                                        {% for bale in d.bales.all %}
                                            <p>{{ bale.uid }}</p>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for bale in d.bales.all %}
                                            <p>{{ bale.weight }}</p>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for bale in d.bales.all %}
                                            <p>{{ bale.print_date }}</p>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% include 'layout/pagination.html' with data=data %}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('.qrcode_block').each(function (){
            let qr = $(this).data('uid');
            let div_id = "qrcode_" + qr;
            new QRCode(div_id, {
                text: qr,
                width: 100,
                height: 100,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.L
            });
        });

        $('body').on('click', '.print_qr', function(){
            printJS($(this).data('id'), 'html')
        });
    });
    </script>
{% endblock %}