{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" type="text/css" />
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'bales-list' %}">Bales</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Production bales</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <button id="fetch_weight" class="btn btn-lg btn-success waves-effect waves-light">Get weight</button>
                    <button id="close_port" class="btn btn-lg btn-warning waves-effect waves-light">Close port</button>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="button-list pe-xl-6 d-grid">
                            <button type="submit" class="btn btn-lg btn-primary waves-effect waves-light">Add and print label</button>
                        </div>
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->

        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h4>Bales of {{ form.mound.initial }}</h4>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Module</th>
                                <th>Unique ID</th>
                                <th>Weight</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for bale in bales %}
                            <tr>
                                <td>{{ bale.module }}</td>
                                <td>{{ bale.uid }}</td>
                                <td>{{ bale.weight }}</td>
                                <td>
                                    <div style="display: none;">
                                        <div id="print_{{ bale.uid }}" style="display: flex;">
                                            <div class="qrcode_block" id="qrcode_{{ bale.uid }}" data-uid="{{ bale.uid }}"></div>
                                            <div style="margin-left: 20px; text-align: center;">
                                                <img src="{% static 'assets/images/splash_screen_2_dark.png' %}" alt="" class="logo-light" height="64"/>
                                                <div>S/N: {{ bale.uid }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#" class="btn btn-success print_qr" data-id="print_{{ bale.uid }}"><i class="fa fa-print"></i> Print</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.select').select2();
        let mound_id = $('#id_mound').val();
        //update_modules(mound_id);

        $('.qrcode_block').each(function (){
            let qr = $(this).data('uid');
            let div_id = "qrcode_" + qr;
            new QRCode(div_id, {
                text: qr,
                width: 100,
                height: 100,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.L
            });
        });

        $('body').on('click', '.print_qr', function(){
            printJS($(this).data('id'), 'html')
        });
    });

    $('body').on('change', '#id_mound', function (e){
        update_modules(this.value);
        console.log(this.value);
    });

    function update_modules(id){
        $.ajax({
          url: "/mound/modules/json/" + id,
        }).done(function(data) {
            let jsonData = JSON.parse(data);
            $('#id_module').html("");
            $.each(jsonData, function(index, value){
                let option = new Option(value.fields.uid, value.pk, true, true);
                $('#id_module').append(option);

            });
        });
    }
    </script>

    <script type="text/javascript">

    class LineBreakTransformer {
      constructor() {
        // A container for holding stream data until a new line.
        this.chunks = "";
      }

      transform(chunk, controller) {
        // Append new chunks to existing chunks.
        this.chunks += chunk;
        // For each line breaks in chunks, send the parsed lines out.
        const lines = this.chunks.split("\r\n");
        this.chunks = lines.pop();
        lines.forEach((line) => controller.enqueue(line));
      }

      flush(controller) {
        // When the stream is closed, flush any remaining chunks out.
        controller.enqueue(this.chunks);
      }
    }

    const textDecoder = new TextDecoderStream();


    if ("serial" in navigator) {
      console.log("Serial avialable");
    }

    document.querySelector('#fetch_weight').addEventListener('click', async () => {
      // const filters = [
      //   { usbVendorId: 1659, usbProductId: 8963 }
      // ];
      const port = await navigator.serial.requestPort();

      console.log(port.getInfo());

      await port.open({ baudRate: 9600, stopBits: 1, dataBits: 8, bufferSize: 8 });

      const textDecoder = new TextDecoderStream();
      const readableStreamClosed = port.readable.pipeTo(textDecoder.writable);
      //const reader = textDecoder.readable.getReader();
      const reader = textDecoder.readable
        .pipeThrough(new TransformStream(new LineBreakTransformer()))
        .getReader();

      document.querySelector('#close_port').addEventListener('click', async ()=>{
        await reader.cancel();
        await readableStreamClosed.catch(() => { /* Ignore the error */ });
        await port.close();
      });

      // Listen to data coming from the serial device.
      while (true) {
        const { value, done } = await reader.read();
        if (done) {
          // Allow the serial port to be closed later.
          reader.releaseLock();
          break;
        }
        // value is a string.
        console.log(value);
        let floatValue = value.match(/Net.+(\d+[,.]\d+)/)[1].replace(',', '.');
        console.log(floatValue);
        document.querySelector('#id_weight').value = floatValue;
      }

    });

  </script>
{% endblock %}