{% extends 'layout/base.html' %}
{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Farms</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <div class="text-sm-end mt-2 mt-sm-0">
                                <a href="{% url 'sync-farms' %}" class="btn btn-warning waves-effect waves-light"
                                    onclick="return confirm('Are you sure?')">
                                    <i class="mdi mdi-plus-circle me-1"></i> Sync from John Deere API
                                </a>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-striped table-bordered table-hover">
                            <thead class="table-light">
                            <tr>
                                <th>Farm</th>
                                <th>Region</th>
                                <th>District</th>
                                <th>John Deere ID</th>
                                <th>Create Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in data %}
                                <tr>
                                    <td>{{ d.name }}</td>
                                    <td>{{ d.district.region.name }}</td>
                                    <td>{{ d.district.name }}</td>
                                    <td>{{ d.john_deere_id }}</td>
                                    <td>{{ d.created_at }}</td>
                                    <td>
                                        {% if d.archived %} Archived {% endif %}
                                        {% if not d.archived %}
                                            <span class="badge bg-success"> Active </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% include 'layout/pagination.html' with data=data %}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
{% endblock %}