{% extends 'layout/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Mounds</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Add new mound</h4>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="Submit" class="btn btn-success">
                        </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}