{% extends 'layout/base.html' %}
{% block content %}


    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Mound List</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mb-2">
        <div class="col-sm-4">
            <a href="{% url 'mounds-create-all' %}" onclick="return confirm('Are you sure?')"
               class="btn btn-blue rounded-pill waves-effect waves-light mb-3"><i
                    class="mdi mdi-plus"></i> Create Mounds from fields</a>

            <a href="{% url 'mounds-create' %}" class="btn btn-soft-blue rounded-pill waves-effect waves-light mb-3"><i
                    class="mdi mdi-plus"></i> Add New Mound</a>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-2">
            <div class="text-sm-end">
                <input type="search" class="form-control" placeholder="Search..">
            </div>
        </div><!-- end col-->

    </div>
    <!-- end row-->


    <div class="row">
        {% for d in data %}
            <div class="col-lg-4">
                <div class="card border {% if d.state == 2 %}border-warning{% endif %}
                        {% if d.state == 3 %}border-success{% endif %}">
                    <div class="card-body">
                        <div class="dropdown float-end">
                            <a href="#" class="dropdown-toggle card-drop arrow-none" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
{#                                <a class="dropdown-item" href="#">Add module</a>#}
                                <a class="dropdown-item" href="{% url 'mounds-edit' id=d.id %}">Edit mound</a>
                                <a class="dropdown-item" onclick="return confirm('Are you sure?')"
                                   href="{% url 'mounds-remove' id=d.id %}">Remove mound </a>
                            </div>
                        </div> <!-- end dropdown -->
                        <!-- Title-->
                        <h4 class="mt-0">{{ d.name }}</h4>
                        <p class="text-muted text-uppercase"><i class="mdi mdi-map-search"></i>
                            <small>{{ d.field }}</small></p>

                        <!-- Task info-->
                        <p class="mb-1">
                            <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                <i class="mdi mdi-layers-triple text-muted"></i>
                                <b>{{ d.modules_count }}</b> Modules
                            </span>

                            <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                <i class="mdi mdi-weight-kilogram text-muted"></i>
                                Total weight: <b>{{ d.modules_weight }}</b> kg
                            </span>
                        </p>
                        <p class="mb-1">
                            <span class="float-end">
                                <a href="{% url 'mounds-modules' id=d.id %}" class="btn btn-sm btn-outline-blue text-end waves-effect waves-light">Modules</a>
                                {% if d.state == 1 %}
                                    <a href="{% url 'mounds-start-production' id=d.id %}" class="btn btn-sm btn-outline-blue text-end waves-effect waves-light">Start production</a>
                                {% endif %}
                                {% if d.state == 2 %}
                                    <a href="{% url 'bales-production' mound_id=d.id %}" class="btn btn-sm btn-warning text-end waves-effect waves-light">In process</a>
                                {% endif %}
                                {% if d.state == 3 %}
                                    <a href="{% url 'bales-production' mound_id=d.id %}" class="btn btn-sm btn-success text-end waves-effect waves-light">View bales</a>
                                {% endif %}
                            </span>
                        </p>

                    </div>
                </div> <!-- end card box-->
            </div><!-- end col-->
        {% endfor %}
    </div>
    <!-- end row -->

    {% include 'layout/pagination.html' with data=data %}

{% endblock %}