{% extends 'layout/base.html' %}
{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Modules of {{ mound.name }}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <div class="d-flex align-items-end">
                                <div class="w-100">
                                    <h4 class="mt-0 font-14"><b>Field name:</b> {{ mound.field.name }} </h4>
                                    <h4 class="mt-0 font-14"><b>Farm name:</b> {{ mound.field.farm.name }} </h4>
                                    <h4 class="mt-0 font-14"><b>UID:</b> {{ mound.uid }} </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="d-flex align-items-start">
                                <div class="w-100">
                                    <h4 class="mt-0 font-14"><b>Modules count:</b> {{ modules|length }}</h4>
                                    <h4 class="mt-0 font-14"><b>Total weight:</b> {{ total_weight }}</h4>
                                    <h4 class="mt-0 font-14"><b>Moisture average:</b> {{ avg_moisture }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div id="qrcode" style="float:right;"></div>
                        </div>
                    </div> <!-- end row -->
                </div>
            </div> <!-- end card-->

            <div class="card">
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-lg-6">
                            <form class="d-flex flex-wrap align-items-center" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ mound.id }}">
                                <label for="status-select" class="me-2">Select module</label>
                                <div class="me-sm-3">
                                    <select class="form-select form-select my-1 my-lg-0 select" data-toggle="select2" id="status-select" name="module">
                                        <option selected>Choose...</option>
                                        {% for um in unloaded_modules %}
                                        <option value="{{ um.id }}">{{ um.uid }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-danger waves-effect waves-light me-2">
                                    <i class="fas fa-angle-double-down"></i> Add module to mound</button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-lg-end">
                                <button type="button" class="btn btn-light waves-effect mb-2">Export</button>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-centered mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Module serial number</th>
                                <th>Module Id</th>
                                <th>Weight</th>
                                <th>Diameter</th>
                                <th>Moisture</th>
                                <th>Variety name</th>
                                <th>Data ingestion date</th>
                                <th>Loading to mound time</th>
                                <th>State</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for m in modules %}
                                <tr>
                                    <th scope="row">{{ m.serial_number }}</th>
                                    <td>{{ m.uid }}</td>
                                    <td>{{ m.weight }}</td>
                                    <td>{{ m.diameter }}</td>
                                    <td>{{ m.moisture }}</td>
                                    <td>{{ m.variety_name }}</td>
                                    <td>{{ m.data_ingestion_date }}</td>
                                    <td>{{ m.load_time }}</td>
                                    <td>
                                        {% if m.state == 1 %}New{% endif %}
                                        {% if m.state == 2 %}In process{% endif %}
                                        {% if m.state == 3 %}Processed{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>


{#                     {% include 'layout/pagination.html' with data=data %}#}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

    <!-- modal content -->
    <div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Pick start production timestamp</label>
                        <input type="text" id="datetime-datepicker" class="form-control" placeholder="Date and Time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <a href="#" type="button" class="btn btn-primary" id="modal-link">To production</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->





{% endblock %}

{% block customjs %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('.select').select2();
        new QRCode("qrcode", {
            text: "{{ mound.uid }}",
            width: 100,
            height: 100,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.L
        });

        $("#datetime-datepicker").flatpickr({
            enableTime:true,
            dateFormat:"Y-m-d H:i:ss",
            plugins: [new confirmDatePlugin({})]
        });

        $('#standard-modal').on('show.bs.modal', function (event) {
            let url = $(event.relatedTarget).data('url')
            console.log(url)
            $("#modal-link").attr("href", url);
        });
    });
    </script>
{% endblock %}