{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% include 'layout/partials/header.html' %}

    <!-- body start -->
    <body class="loading" data-layout-mode="detached" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "dark"}}'>

        <!-- Begin page -->
        <div id="wrapper">
            {% include "layout/head.html" %}
            {% include "layout/sidebar.html" %}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        {% block content %} {% endblock %}

                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
{#                <footer class="footer">#}
{#                    <div class="container-fluid">#}
{#                        <div class="row">#}
{#                            <div class="col-md-6">#}
{#                                <script>document.write(new Date().getFullYear())</script> &copy; <a href="https://silverleaf.uz">Silverleafe</a>#}
{#                            </div>#}
{#                            <div class="col-md-6">#}
{#                                <div class="text-md-end footer-links d-none d-sm-block">#}
{#                                    <a href="javascript:void(0);">Help</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </footer>#}
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->
    {% include 'layout/partials/javascripts.html' %}

    {% block customjs %} {% endblock %}



</body>
</html>