<ul class="pagination pagination-rounded justify-content-end mb-0">
    {% if data.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="visually-hidden">Previous</span>
            </a>
        </li>
    {% endif %}

    {% for i in data.paginator.page_range %}
        {% if i <= data.number|add:5 and i >= data.number|add:-5 %}
            {% if data.number == i %}
                <li class="page-item active"><a class="page-link"
                                                href="javascript: void(0);">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if data.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ data.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="visually-hidden">Next</span>
            </a>
        </li>
    {% endif %}
</ul>