{% load static %}
{% load auth_extras %}

<div class="left-side-menu">
    <div class="h-100" data-simplebar>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                {% if request.user|has_group:"ADMIN" %}
                <li>
                    <a href="{% url 'organization-list' %}">
                        <i class="fas fa-landmark"></i>
                        <span> Organizations </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'machines-list' %}">
                        <i class="fas fa-tractor"></i>
                        <span> Machines </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'farms-list' %}">
                        <i data-feather="grid"></i>
                        <span> Farms </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'fields-list' %}">
                        <i class="fas fa-map-marked-alt"></i>
                        <span> Fields </span>
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'modules-list' %}">
                        <i class="fas fa-truck-loading"></i>
                        <span> Modules </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'mounds-list' %}">
                        <i class="fas fa-boxes"></i>
                        <span> Mounds </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'bales-list' %}">
                        <i class="fas fa-qrcode"></i>
                        <span> Bale production </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        <span> Analytics and reports </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'laboratory-modules' %}">
                        <i class="fas fa-flask"></i>
                        <span> Laboratory </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>