{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <link href="{% static 'assets/libs/x-editable/bootstrap5-editable/css/bootstrap-editable.css' %}" rel="stylesheet"/>
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Moisture of modules [Laboratory]</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered table-centered mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Position</th>
                                <th>Module serial number</th>
                                <th>Time</th>
                                <th>Truck ID</th>
                                <th>Moisture</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for m in data %}
                                <tr>
                                    <td>{{ m.position }}</td>
                                    <td>{{ m.serial_number }}</td>
                                    <td>{{ m.time|date:"d-m-Y" }} {{ m.time|time:"H:i:s" }}</td>
                                    <td>{{ m.truck_id }}</td>
                                    <td style="width: 350px"><a href="#" class="moisture-value" data-type="text"
                                           data-pk="{{ m.serial_number }}" data-placement="right"
                                           data-url="{% url 'laboratory-moisture' m.serial_number %}"
                                           data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"
                                           data-title="Enter moisture">{{ m.moisture }}</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>


                     {% include 'layout/pagination.html' with data=data %}

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

{% endblock %}

{% block customjs %}
    <script src="{% static 'assets/libs/x-editable/bootstrap5-editable/js/bootstrap-editable.min.js' %}"></script>

    <script type="text/javascript">
    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function () {

        $('.moisture-value').editable();

        $("#datetime-datepicker").flatpickr({
            enableTime:true,
            dateFormat:"Y-m-d H:i:ss",
            plugins: [new confirmDatePlugin({})]
        });

    });
    </script>
{% endblock %}